.Templates{
    float: left;
    width: 25%;
}

.Canvas{
    float: left;
    width: 50%;
}

.Params{
    float: left;
    width: 25%;
}

.Editor-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }