ul {
    list-style-type: none;
    margin: 5;
  }

li {
    display: inline;
    border-right: none;
  }

.link{
    color: white;
    text-decoration: none;
    padding: 8px;
}

.link:hover{
    color: gray;
}